*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    position: relative;
    width: 100%;
    height: 100vh;
}

.container {
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.container .time {
    font-size: 2rem;
    text-align: center;
    user-select: none;
}

.container .date {
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;
    font-style: italic;
    user-select: none;
}

.container .date span {
    margin-right: 5px;
}

@media (max-width: 816px) {
    .container .time {
        font-size: 3rem;
    }
}

@media (max-width: 610px) {
    .container .time {
        font-size: 1rem;
    }
}
